header{
    background-color: goldenrod;
    color: black;
    text-align: center;
    font-size: xx-large;
}
body{
    background-color: black;
    color: goldenrod;
}
.egg{
    background-color: goldenrod;
    color: black;
    text-align: center;
    padding: 25px 10px;
    font-size: large;
    width: 400px;
    margin: 40px;
}

.egg1{
    background-color: goldenrod;
    color: black;
    text-align: center;
    padding: 25px 10px;
    font-size: large;
    width: 400px;
    margin: 40px;
}

.egger{
    background-color: black;
    color: goldenrod;
    font-size: medium;
    text-align: center;
    margin: 10px;
}